* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/4b632fe0fb28514b9f22a2ba/smin.jpg");
  background-repeat: no-repeat;
  width: 1800px;
  height: 700px;
  background-position: center;
  background-size: cover;
}
.information {
  width: 400px;
  height: 550px;
  background-color: rgb(5, 163, 5);
  opacity: 0.8;
  margin: 40px;
}
.information-details {
  color: antiquewhite;
  line-height:2;
  padding: 20px;
  margin: 30px;
  margin-top: 70px;
  font-weight:800;
}
.information-details h1 {
  font-size: 80px;
  color: rgb(241, 231, 90);
  font-weight: normal;

}
.information-details h2{
    position:relative;
    top:50px;
}
.information-details i{
    font-size:18px;
}
button{
    background-color:white;
    padding:10px;
    border:none;
    position:relative;
    top:40px;
   right:60px;
}
.information-details a{
    text-decoration:none;
    color:green;
    font-size:12px;
}